node_modules
storage/*
tmp
config/config.json
config/snowflakes-testing-commands.json
test.js
*-.js
*-.json
data/banned.json
site/*
.DS_Store
media/banners/*
media/badges/*
naughty.csv

# For Visual Studio's temp directory
.vs/
