node_modules
storage/*
tmp
config/config.json
config/snowflakes-commands.json
test.js
*-.js
*-.json
data/banned.json
site
.DS_Store
media/badges/*
media/banners/*
naughty.csv

# For Visual Studio's temp directory
.vs/

# For Intellij Configs until some good ones are made and decided upon
.idea/
