node_modules
storage/*
tmp
config/config.json
config/snowflakes-commands.json
config/siteConfig.json
test.js
*-.js
*-.json
*.csv
data/banned.json
data/extralifeDonors.json
data/streams.json
site
.DS_Store
media/badges/*
media/banners/*
!media/banners/README.md
media/tags/*
naughty.csv

# For Visual Studio's temp directory
.vs/

# For Intellij Configs until some good ones are made and decided upon
.idea/
